@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );}

h1 {
  margin: 15px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.3px;
  color: #2aa4bf;
}
h2 {
  margin: 15px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.3px;
  color: #2aa4bf;
}

input {
  width: 500px;
  padding: 14px 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 0.3px solid black;
  background-color: #00d4ff;
  color: rgb(34, 33, 33);
  border: none;
}
input::placeholder {
  color: white;
}
input:focus {
  outline: none;
}

h3 {
  font-size: 16px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;

  margin-bottom: 25px;
}

.dataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.data {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  background-color: #00d4ff;
  padding-top: 20px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
}
.data:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

/* .................. */
